body {
  font-family: 'Fira Sans Condensed', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Fira Sans Condensed', sans-serif;
}

h3 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inventory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  width: 75vw;
}

.inventory-card {
  min-height: 350px;
  margin: 10px;
  min-width: 150px;
}

.inventory-img {
  background-image: url('https://theinfosphere.org/images/0/08/Bending_School.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 100%;
}

.order-history-tab, .shopping-cart-tab {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100px;
}

.order-history-title, .shopping-cart-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.order-history-button, .shopping-cart-button {
  background-color: yellow;
  border: 1px solid black;
  height: 100px;
  transition-duration: 1.5s;
  width: 100%;
}


.order-history-button {
  background-image: url('./right-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.order-history-button:hover {
  background-image: url('./right-arrow-yellow.svg');
  transition-duration: 1.5s;
}

.order-history-button:hover, .shopping-cart-button:hover {
  background-color: black;
  cursor: pointer;
}

.shopping-cart-button {
  background-image: url('./left-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shopping-cart-button:hover {
  background-image: url('./left-arrow-yellow.svg');
  transition-duration: 1.5s;
}
