body {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0;
}

header {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

h1 {
  background-color: yellow;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 3em;
  margin: 0;
  text-align: center;
  width: 100%;
}

h3 {
  text-align: center;
}

h5 {
  margin: 2px
}

main {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  height: 90px;
  margin: 5px;
  overflow-y: scroll;
}

.add-to-cart {
  background-color: yellow;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: black;
  color: yellow;
}

.cart-item {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}

.cart-item-title {
  height: 50px;
}

.inventory {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  overflow-x: scroll;
  width: 75vw;
}

.inventory-card {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  margin: 10px;
  padding: 5px;
  min-width: 200px;
}

.inventory-img {
  border: 1px solid black;
  height: 150px;
  width: 100%;
}

.inventory-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.item-desc {
  height: 100px;
}

.order-history, .shopping-cart {
  display: flex;
  flex-direction: row;
  /*position: absolute;*/
  /*z-index: 20;*/
}

.order-history-page, .shopping-cart-page {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-height: 100vh;
  overflow-y: scroll;
  width: 200px;
}

.order-history-tab, .shopping-cart-tab {
  align-items: center;
  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100px;
}

.order-history-title, .shopping-cart-title {
  align-items: center;
  background-color: black;
  border: 1px solid yellow;
  color: yellow;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.order-history-button, .shopping-cart-button {
  background-color: yellow;
  height: 100px;
  transition-duration: 1.5s;
  width: 100%;
}

.order-history-button {
  background-image: url('./right-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.order-history-button:hover {
  background-image: url('./right-arrow-yellow.svg');
  transition-duration: 1.5s;
}

.order-history-button:hover, .shopping-cart-button:hover {
  background-color: black;
  border
  cursor: pointer;
}

.order-item, .cart-item {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  justify-content: space-around;
  margin-bottom: 10px;
  overflow-y: scroll;
  padding: 0 5px 5px;
  min-width: 200px;
}

.purchase {
  align-items: center;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 10px;
  transition-duration: 1.5s;
  width: 150px;
}

.purchase:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
  transition-duration: 1.5s;
}

.purchase-total {
  color: yellow;
}

.shopping-cart-button {
  background-image: url('./left-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shopping-cart-button:hover {
  background-image: url('./left-arrow-yellow.svg');
  transition-duration: 1.5s;
}

.shopping-cart-items {
  max-height: 550px;
  overflow-y: scroll;
}

.total {
  color: yellow;
}

.hide {
  display: none;
}

.left-arrow {
  background-image: url('left-arrow.svg');
}

.right-arrow {
  background-image: url('right-arrow.svg');
}

.right-arrow:hover {
  background-image: url('right-arrow-yellow.svg');
  background-color: black;
  transition-duration: 1.5s;
}

.left-arrow:hover {
  background-image: url('left-arrow-yellow.svg');
  background-color: black;
  transition-duration: 1.5s;
}
