body {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0;
}

header {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

h1 {
  background-color: yellow;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  margin: 0;
  width: 100%;
}

h3 {
  text-align: center;
}

h5 {
  margin: 2px
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  margin: 5px;
}

.inventory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  width: 75vw;
}

.inventory-card {
  min-height: 350px;
  margin: 10px;
  min-width: 150px;
}

.inventory-img {
  background-image: url('https://theinfosphere.org/images/0/08/Bending_School.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 100%;
}

.inventory-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-history, .shopping-cart {
  display: flex;
  flex-direction: row;
  /*position: absolute;*/
  /*z-index: 20;*/
}

.order-history-page, .shopping-cart-page {
  padding: 15px;
  width: 200px;
}

.order-history-tab, .shopping-cart-tab {
  align-items: center;
  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100px;
}

.order-history-title, .shopping-cart-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.order-history-button, .shopping-cart-button {
  background-color: yellow;
  border: 1px solid black;
  height: 100px;
  transition-duration: 1.5s;
  width: 100%;
}

.order-history-button {
  background-image: url('./right-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.order-history-button:hover {
  background-image: url('./right-arrow-yellow.svg');
  transition-duration: 1.5s;
}

.order-history-button:hover, .shopping-cart-button:hover {
  background-color: black;
  cursor: pointer;
}

.order-item, .cart-item {
  border: 1px solid black;
  padding: 0 5px 5px;
}

.shopping-cart-button {
  background-image: url('./left-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shopping-cart-button:hover {
  background-image: url('./left-arrow-yellow.svg');
  transition-duration: 1.5s;
}

.hide {
  display: none;
}
